<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<!-- creating int,string and boolean variables -->
<div ng-app="" ng-init="number_val=2;string_val='Anija';boolean_val=true">
</div>
<!-- creating object type variable -->
<div ng-app="" ng-init="person={firstname:'Anija',lastname: 'Thomas'}">
</div>
<!-- creating array type variable -->
<div ng-app="" ng-init="marks=[89,74,92]">

</div>
<div data-ng-controller="DemoController">
      <ul>
        <li data-ng-repeat="item in marks">
          {{marks}}
          <button data-ng-click="removeItem($index)">Remove</button>
        </li>
      </ul>
 </div>
<script>
// add values of an array    
var values = [1,2,4];  
angular.forEach(values, function(value, key) {  
  document.write(value++);  
  document.write("");  
});

// toggle boolean value
var i = true; 
$scope.toogle = function(i)
  {
    i.booleanVal = !i.booleanVal 

  }; 
</script>  

</body>
</html>